@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --main-font-color: #f1f1f1;
    --white-bg: #ffffff;
    --main-bg-color: #273043;
    --sub-bg-color: #2c374d;
    --off-white-bg: #f5f5f5;
    --title-blue: #204666;
    --text-dark-grey: #222222;
    --text-orange: #ee6c4d;
    --text-green: #2a9d8f;
    --orange-accent: #812e17;
}

* {
    box-sizing: border-box;
    font-family: Tahoma, Montserrat, sans-serif;
    padding: 0;
    margin: 0 auto;
}

html,
body {
    text-align: center;
    background-color: var(--main-bg-color);
    min-height: 100vh;
    min-width: 100vw;
    scroll-behavior: smooth;
    cursor: default;
}

#navigation {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    min-width: 375px;
    height: 50px;
    border: none;
    background-color: var(--main-bg-color);
    transition: 0.3s ease-in;
    z-index: 999;
}

#nav-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100%;
}

.nav-tab {
    height: 100%;
    width: 150px;
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
    font-size: 1rem;
    cursor: pointer;
    border: none;
    transition: ease;
}

.nav-tab:hover {
    border-left: 2px solid var(--sub-bg-color);
    border-right: 2px solid var(--sub-bg-color);
}

.nav-tab:active {
    color: var(--main-font-color);
}

@media screen and (max-width: 620px) {

    .nav-tab {
        width: 100px;
    }
}

@media screen and (max-width: 420px) {

    .nav-tab {
        width: 90px;
    }
}

.page-content {
    display: none;
    flex-direction: column;
    width: 100%;
    min-width: 375px;
    background-color: var(--white-bg);
}

#bio-bg-img {
    width: 100%;
    background: #fff url(/images/bio-bg.svg) center center/cover no-repeat;
    padding: 50px 0;
}

.bg-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
}

#bio-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
    max-width: 700px;
    padding: 0 25px;
    color: #444444;
}

.bio-image {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    /* background-image: url('/images/launch-day.svg'); */
    /* background-image: url('/images/profile-black.png'); */
    background-image: url('/images/da-pic.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 1100px) {
    .bio-image {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 600px) {
    .bio-image {
        width: 200px;
        height: 200px;
    }
}

.da-logo-top img {
    width: 40px;
    height: 40px;
}

.short-bio {
    width: 100%;
    font-size: 19px;
    line-height: 30px;
    text-align: left;
}

.short-bio h1 {
    font-size: 34px;
    color: var(--title-blue);
    padding: 20px 0 20px 0;
}

.j-title {
    color: #222222;
}

.bio-btns-main {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
    padding: 25px 0;
}

@media screen and (max-width: 950px) {
    .short-bio {
        text-align: center;
    }
}

.bio-btn-container {
    display: flex;
}

.bio-btn-container a {
    text-decoration: none;
}

.btn-styled-icon {
    display: flex;
    align-items: center;
    overflow: hidden;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    height: 45px;
    cursor: pointer;
    color: var(--main-font-color);
    transition: 0.2s ease;
    background-color: #2c374d;
    /* box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.btn-styled-icon:hover {
    background-color: var(--text-green);
}

.btn-text {
    width: 270px;
}

.btn-icon {
    display: flex;
    align-items: center;
    height: 100%;
    width: 25%;
    font-size: 32px;
    background-color: rgba(0, 0, 0, 0.3);
}

.btn-bio-div {
    display: flex;
    align-items: center;
    width: 300px;
    height: 45px;
    border: 1px solid var(--main-bg-color);
    border-radius: 5px;
    color: var(--title-blue);
}

.btn-bio-div a {
    text-decoration: underline;
    color: #3f6b9b;
}

.btn-bio-div a:hover {
    color: var(--text-green)
}

.profile-content {
    background: var(--main-bg-color);
    width: 100%;
    padding: 75px 0;
    color: var(--main-font-color);
}

.cards-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}

.cards-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
}

.exp-cards {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 270px;
    padding: 10px 0;
    width: 100%;
}

.skill-cards {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 400px;
    padding: 10px 0;
    width: 100%;
}

.inner-exp-cards {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 95%;
    padding: 15px 0;
    border-radius: 10px;
    background-color: var(--sub-bg-color);
}

.inner-exp-cards p {
    color: #2a9d8f;
}

.inner-skill-cards {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 47%;
    padding: 25px 0;
    border-radius: 10px;
    background-color: var(--sub-bg-color);
}

.inner-skill-cards h3 {
    color: var(--text-green);
    padding-bottom: 8px;
}

.inner-skill-cards .cards-icon {
    color: var(--text-orange);
}

.cards-icon {
    font-size: 32px;
}


/* spinning icon animation */
@media (prefers-reduced-motion: no-preference) {
    ion-icon[name="settings-outline"] {
        animation: tools-icon-spin infinite 20s linear;
    }
}

@keyframes tools-icon-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* scrolling animation */
.hidden {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-20%);
    transition: none;
}

@media(prefers-reduced-motion: no-preference) {

    .hidden {
        transition: all 1s;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.exp-cards:nth-child(2) {
    transition-delay: 200ms;
}

.exp-cards:nth-child(3) {
    transition-delay: 400ms;
}


@media screen and (max-width: 810px) {
    .exp-cards:nth-child(1) {
        max-width: 405px;
    }

    .exp-cards:nth-child(2) {
        max-width: 405px;
    }

    .exp-cards:nth-child(3) {
        max-width: 810px;
    }
}

@media screen and (max-width: 540px) {
    .exp-cards:nth-child(1) {
        max-width: 540px;
    }

    .exp-cards:nth-child(2) {
        max-width: 540px;
    }
}

#quote-bg {
    width: 100%;
    background-color: #f1f1f1;
}

.badges-title {
    color: var(--title-blue);
}

.badges-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    padding-bottom: 25px;
}

.badges {
    width: 180px;
    height: 180px;
}

.single-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
    padding: 0 25px;
    width: 100%;
    height: 200px;
    color: var(--title-blue);
    background-color: var(--off-white-bg);
}

/* Links and Social Section */
footer {
    width: 100%;
    min-width: 375px;
    min-height: 200px;
    margin-top: 50px;
    color: var(--main-font-color);
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 40px;
    max-width: 1200px;
}

.footer-box {
    width: 260px;
}

.footer-social {
    display: flex;
    width: 260px;
    padding: 0 30px;
}

.footer-social a img {
    width: 35px;
    height: 35px;
}

.footer-social a img:hover {
    transform: rotate(10deg);
}

.da-logo {
    display: flex;
    height: 55px;
    width: 250px;
    margin-bottom: 50px;
    border-bottom: 1px solid var(--orange-accent);
}

.back-to-top {
    font-size: 32px;
    font-weight: 500;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.back-to-top:hover {
    border: 1px solid var(--main-font-color);
    border-radius: 50%;
}

.da-logo img {
    width: 50px;
    height: 50px;
}

#scroll-to-top:hover {
    cursor: pointer;
}

#copyright {
    margin-top: 45px;
    color: #f5f5f5;
}

.bounce-in-top {
    -webkit-animation: bounce-in-top 1.5s both;
    animation: bounce-in-top 1.5s both;
}

/* Bounce animation effect */
@-webkit-keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
}

@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
}