@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --font-color: #f1f1f1;
    --font-color: #181818;
    --main-bg-color: #222222;
    --bg-color: #181818;
    --bg-color: #fffff4;
    --orange-accent: #812e17;
}

* {
    box-sizing: border-box;
    font-family: Tahoma, Montserrat, sans-serif;
    padding: 0;
    margin: 0 auto;
}

html,
body {
    text-align: center;
    background-color: #181818;
    background-color: #273043;
    min-height: 100vh;
    min-width: 100vw;
    scroll-behavior: smooth;
    cursor: default;
}

#navigation {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    width: 100%;
    min-width: 375px;
    height: 50px;
    border: none;
    color: #222222;
    background-color: #f5f5f5;
    transition: 0.3s ease-in;
    z-index: 999;
}

#nav-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100%;
}

.nav-tab {
    height: 100%;
    width: 150px;
    color: #222222;
    background-color: #f5f5f5;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    transition: ease;
}

.nav-tab:hover {
    color: #555555;
}

@media screen and (max-width: 550px) {

    .nav-tab {
        width: 100px;
    }
}

@media screen and (max-width: 380px) {

    .nav-tab {
        width: 90px;
    }
}

.page-content {
    display: none;
    flex-direction: column;
    width: 100%;
    min-width: 375px;
    background-color: #ffffff;
}

.bg-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    padding: 50px 0;
}

@media screen and (max-width: 1200px) {
    .description {
        padding-right: none;
    }
}

#bio-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
    max-width: 700px;
    padding: 0 25px;
    color: #444444;
}

.bio-image {
    width: 350px;
    height: 350px;
    background-image: url('/images/launch-day.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 1100px) {
    .bio-image {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 600px) {
    .bio-image {
        width: 200px;
        height: 200px;
    }
}

.da-logo-top img {
    width: 40px;
    height: 40px;
}

.short-bio {
    width: 100%;
    font-size: 19px;
    line-height: 30px;
    text-align: left;
}

.short-bio h1 {
    font-size: 34px;
    color: #204666;
    padding: 20px 0 20px 0;
}

.bio-btns-main {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
    padding: 25px 0;
}

@media screen and (max-width: 680px) {
    .short-bio {
        text-align: center;
    }
}

.bio-btn-container {
    display: flex;
}

.bio-btn-container a {
    text-decoration: none;
}

.btn-styled-icon {
    display: flex;
    align-items: center;
    border: none;
    font-size: 16px;
    font-weight: 500;
    height: 45px;
    cursor: pointer;
    color: #f1f1f1;
    transition: 0.2s ease;
    background-color: #2c374d;
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-styled-icon:hover {
    background-color: #2a9d8f;
}

.btn-text {
    width: 270px;
}


.btn-icon {
    display: flex;
    align-items: center;
    height: 100%;
    width: 25%;
    font-size: 32px;
    background-color: rgba(0, 0, 0, 0.3);
}

.portfolio-content {
    background: #273043;
    width: 100%;
    padding: 75px 0;
    color: #f1f1f1;
}

.cards-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f1f1f1;
    width: 100%;
    height: 100px;
}

.cards-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
}

.exp-cards {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 270px;
    padding: 10px 0;
    width: 100%;
}

.skill-cards {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 400px;
    padding: 10px 0;
    width: 100%;
}

.inner-exp-cards {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 95%;
    padding: 15px 0;
    border-radius: 10px;
    background-color: #2c374d;
}

.inner-exp-cards p {
    color: #2a9d8f;
}

.inner-skill-cards {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 47%;
    padding: 25px 0;
    border-radius: 10px;
    background-color: #2c374d;
}

.inner-skill-cards h3 {
    color: #2a9d8f;
    padding-bottom: 8px;
}

.inner-skill-cards .cards-icon {
    color: #ee6c4d;
}

.cards-icon {
    font-size: 32px;
}

@media screen and (max-width: 810px) {
    .exp-cards:nth-child(1) {
        max-width: 405px;
    }

    .exp-cards:nth-child(2) {
        max-width: 405px;
    }

    .exp-cards:nth-child(3) {
        max-width: 810px;
    }
}

@media screen and (max-width: 540px) {
    .exp-cards:nth-child(1) {
        max-width: 540px;
    }

    .exp-cards:nth-child(2) {
        max-width: 540px;
    }
}

.portfolio-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
    padding: 0 25px;
    width: 100%;
    height: 200px;
    color: #204666;
}

/* Links and Social Section */
#social-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
}

.social-icons img {
    width: 50px;
    height: 50px;
}

footer {
    width: 100%;
    min-width: 375px;
    min-height: 200px;
    margin-top: 50px;
    color: #f1f1f1;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 40px;
    max-width: 1200px;
}

.footer-box {
    width: 260px;
}

.footer-social {
    display: flex;
    width: 260px;
    padding: 0 30px;
}

.footer-social a img {
    width: 35px;
    height: 35px;
}

.da-logo {
    display: flex;
    height: 55px;
    width: 250px;
    margin-bottom: 50px;
    border-bottom: 1px solid #812e17;
}

.back-to-top {
    font-size: 32px;
    font-weight: 500;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.back-to-top:hover {
    border: 1px solid #f1f1f1;
    border-radius: 50%;
}

.da-logo img {
    width: 50px;
    height: 50px;
}

#scroll-to-top:hover {
    cursor: pointer;
}