/* Main Container */

#projects-sub-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 50px;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    transition: ease;
    z-index: 555;
}

#projects-sub-div {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    height: 100%;
}

.projects-tab {
    height: 100%;
    width: 150px;
    color: #222222;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    transition: ease;
}

@media screen and (max-width: 700px) {

    .projects-tab {
        width: 110px;
    }
}

.projects-tab:hover {
    color: #555555
}

.projects-content {
    display: none;
    flex-direction: column;
    width: 100%;
    min-width: 375px;
}

/* Calculator App */

.project-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    color: #ffffff;
    background-color: #f5f5f5;
    padding: 25px;
}

.project {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 575px;
}

.description {
    display: flex;
    flex-direction: column;
    color: #222222;
    width: 100%;
    max-width: 575px;
    padding-right: 25px;
    margin-bottom: 25px;
    text-align: left;
    line-height: 25px;
}

.description h2 {
    width: 100%;
    text-align: left;
    padding-bottom: 25px;
    color: #204666;
}

.description p {
    width: 100%;
}

.view-src-link {
    width: 100%;
}

.view-src-link button {
    display: flex;
    align-items: center;
    float: left;
    width: 200px;
    height: 45px;
    border: none;
    overflow: hidden;
    color: #1e5d91;
    background-color: #f5f5f5;
    transition: 0.2s ease-in;
    cursor: pointer;
}

.view-src-link button:hover {
    border-bottom: 1px solid #1e5d91;
}

.view-src-text {
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 190px;
    height: 95%;
}

.view-src-icon {
    display: flex;
    align-items: center;
    width: 40px;
    height: 100%;
    padding-top: 3px;
    padding-right: 15px;
    font-size: 24px;
}

ion-icon {
    pointer-events: none;
}

#summary-total-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 4px;
}


#calculator-total {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 30px;
    height: 50px;
    width: 99.3%;
    padding-right: 5px;
    color: #f1f1f1;
    background-color: #204666;
    word-break: break-all;
}

#calculator-buttons-div {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.buttons,
#clear-btn,
#delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 24%;
    min-width: 60px;
    cursor: default;
    background-color: #204666;
}

.btn-operation,
#equal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height: 50px;
    width: 24%;
    min-width: 60px;
    cursor: default;
    background-color: #35788c;
}

.buttons:hover,
.btn-operation:hover,
#clear-btn:hover,
#delete-btn:hover,
#equal-btn:hover {
    background-color: #3F6B9B;
    border: 1px solid #3F6B9B;
}

.buttons:active,
.btn-operation:active,
#clear-btn:active,
#delete-btn:active,
#equal-btn:active {
    background-color: #296e70;
    border: 1px solid #296e70;
}

/* Color palette */

#hex-generator-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 700px;
}

.hex-bgcolor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 107px;
    width: 50%;
}

.hex-number {
    width: 90px;
    padding: 4px;
    color: #f1f1f1;
    background-color: #444444;
    border-radius: 15px;
}

#color-flipper {
    display: flex;
    padding-top: 25px;
    width: 100%;
    color: #f1f1f1;
    font-size: 18px;
}

#bg-color-button {
    height: 40px;
    width: 230px;
    border: none;
    border-radius: 5px;
    color: #f1f1f1;
    font-size: 15px;
    cursor: pointer;
    background-color: #333333;
    transition: 0.1s ease-in;
}

#bg-color-button:hover {
    background-color: #444444;
}

.spaces {
    width: 100%;
    height: 80px;
}

/* Counter App */
#timer-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 350px;
    min-height: 350px;
    background-image: url('/images/bg-scroll.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #f1f1f1;
}

@media screen and (max-width: 810px) {
    #timer-main-container {
        background-image: none;
        background-color: #222222;
    }
}

#timer {
    font-size: 20px;
    padding-top: 25px;
}

#count {
    padding: 20px;
    font-size: 30px;
}

#timer-wrapper h2 {
    padding-bottom: 5px;
    border-bottom: 1px solid #204666;
}

#timer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 575px;
    height: 370px;
    background-color: #222222;

}

#btn-increment,
#btn-reset {
    padding: 8px;
    text-align: center;
}

#btn-increment button,
#btn-reset button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #f1f1f1;
}

#btn-increment button {
    background-color: #204666;
}

#btn-increment button:hover {
    background-color: #35788c;
}

#btn-increment button:active {
    background-color: #5E8379;
}

#btn-reset button {
    background-color: #333333;
}

#btn-reset button:hover {
    background-color: #444444;
}

#btn-reset button:active {
    background-color: #857f7d;
}

/* Fun Facts Section */
.dyk-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px 0;
    background-color: #478e91;
    background-color: #204666;
}

.dyk-div p {
    padding-top: 10px;
    color: #f1f1f1;
    cursor: default;
}

.dyk-div img {
    height: 80px;
    height: 80px;
    opacity: 0.9;
}

.dyk-div img:hover {
    opacity: 0.7;
    cursor: pointer;
}

.fun-facts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    text-align: center;
    line-height: 25px;
    padding: 0 10px;
    color: #f1f1f1;
    background-color: #204666;
    background-color: #273043;
}

/* Js Questions and Answers */
.graphic-divs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    min-height: 200px;
    background-color: #f0ecec;
}

.graphic-divs h4 {
    font-size: 19px;
    color: #204666;
}

.graphic-divs img {
    width: 110px;
    height: auto;
}

.qna-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    min-height: 375px;
    padding: 25px;
    color: #222222;
    background-color: #f5f5f5;
}

#question {
    display: flex;
    font-weight: bold;
    font-size: 18px;
    color: #204666;
}

#answer {
    display: flex;
    align-items: center;
    min-height: 150px;
    line-height: 25px;
    padding: 25px 0;
}

.question-btn-div {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

#question-btn,
#prev-question-btn {
    height: 40px;
    width: 170px;
    margin: 10px;
    border: none;
    color: #f1f1f1;
    font-size: 15px;
    background-color: #478e91;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.1s ease-in;
}

#question-btn:hover,
#prev-question-btn:hover {
    opacity: 0.8;
}

#question-btn:active,
#prev-question-btn:active {
    background-color: #296e70;
}

/* quotes div */
#quotes-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 350px;
    background-color: #222222;
    cursor: default;
}

#quotes-div img {
    width: 90px;
    height: auto;
    padding-bottom: 40px;
}

#p-quote {
    padding: 10px;
    font-size: 15px;
    word-spacing: 0.5px;
    letter-spacing: 0.3px;
    color: #8bb1b3;
}

#p-author {
    padding: 10px;
    font-size: 17px;
    color: #8bb1b3;
}

#quote-btn {
    height: 40px;
    width: 150px;
    margin-top: 40px;
    border: none;
    color: #f1f1f1;
    font-size: 15px;
    background-color: #333333;
    border-radius: 20px;
    transition: 0.1s ease-in;
}

#quote-btn:hover {
    background-color: #444444;
    cursor: pointer;
}